@import "../../general-styles/variables.scss";
@import "../../general-styles/extends.scss";

.button {
  padding: $baseSize 0;
  background-color: $blueColor;
  border-radius: $sizex4;
  color: $whiteColor;
  text-align: center;
  font-size: $sizex18;
}
