// Colors
$mainColor: #ffe600;
$secondaryColor: #333333;
$thirdColor: #999999;
$fourthColor: #666666;
$baseColor: #eeeeee;
$whiteColor: white;

// Sizes
$baseSize: 1rem;
$middleBaseSize: 0.5rem;
$sizex4: 0.25rem;
$sizex12: 0.66rem;
$sizex14: 0.875rem;
$sizex18: 1.125rem;
$sizex24: 1.5rem;
$sizex32: 2rem;

// Width
$width100per: 100%;
$widhthMainContent: 80%;
