// Colors
$mainColor: #ffe600;
$secondaryColor: #333333;
$thirdColor: #999999;
$fourthColor: #666666;
$baseColor: #eeeeee;
$whiteColor: white;
$blueColor: #3483fa;
$thirdColorOpc: rgba(153, 153, 153, 0.3);

// Sizes
$baseSize: 1rem;
$middleBaseSize: 0.5rem;
$sizex4: 0.25rem;
$sizex12: 0.66rem;
$sizex14: 0.875rem;
$sizex18: 1.125rem;
$sizex24: 1.5rem;
$sizex28: 1.75rem;
$sizex32: 2rem;
$sizex46: 2.875rem;

// Width
$width100per: 100%;
$widhthMainContent: 80%;
$widhthMiddle: 50%;
